@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/itmm/_itmmLayout.cshtml";
}










@section SideNav{
<ul>
    <li>@Html.ActionLink("Home", "Index", "Staff", null, new { id = "light" })</li>
    <li>@Html.ActionLink("Class Schedule", "Schedule", "Staff")</li>
    <li>@Html.ActionLink("Dispense", "Dispense", "Staff")</li>
    <li>@Html.ActionLink("Report", "Report", "Staff")</li>
   
</ul>
}
