@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/itmm/_itmmLayout.cshtml";
}

<h2>Index</h2>
content goes here.....








@section SideNav{
<ul>
    <li>@Html.ActionLink("Nav 1", "Index", "Head", null, new { id = "light" })</li>
    <li>@Html.ActionLink("Nav 2", "Staff", "Head")</li>
    <li>@Html.ActionLink("Nav 3", "Equipment", "Head")</li>
</ul>
}
