<div id="accord">
    <div id="accordion">
        <h4>
            <a href="#">About</a></h4>
        <div>
            <span><a id="modal_diag" href="#">Register</a></span><br />
            <div id="modal" title="Register" style="visibility: hidden">
                <form method="post" action="test.html">
                <input type="text" name="fname" placeholder="name" /><br />
                <input type="text" name="age" placeholder="age" /><br />
                <input type="submit" value="save" />
                </form>
            </div>
        </div><!-- end form -->
        <h4>
            <a href="#">Staff</a></h4>
        <div>
            2
        </div>
        <h4>
            <a href="#">Equipments</a></h4>
        <div>
            3
        </div>
        <h4>
            <a href="#">Contact</a></h4>
        <div>
            4
        </div>
    </div>
    <!--end accordion-->
</div>
