@{
    var _RoomInfo = (ViewBag.RoomInfo as IQueryable<itmm.Models.Room>);
}
<div id="ttool">

@foreach (var roominfo in _RoomInfo)
{
    
<form id="editlab" method="post" action="/Admin/EditRoom">
<div>
    Room Name:<br />
    <input type="text" name="RoomName" value="@roominfo.RoomName" maxlength=10 class="required" style="width:260px;height:23px;" />
    <input type="hidden" name="RoomId" value="@roominfo.RoomId" />
</div>
<br />
<button id="button" class=" ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="height: 30px;"> &nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;</button>

</form>

}

</div>