@{
    var RoomList = (ViewBag.RoomList as IQueryable<itmm.Models.Room>);
}
<div id="accord">
 <span id="span_link" style="visibility: hidden;"><a id="modal_diag" href="#">Create Room</a></span><br /><br />

 <div id="modal" title="Fill the form" style="visibility: hidden; height: 0px;">
        <form id="labform" method="post" action="/Admin/Room">
        <div>
            Room Name:<br />
            <input type="text" name="RoomName" class="required" maxlength=10 style="width:260px;height:23px;" />
        </div>
        <input type="submit" class="submit" value="Create" style="width: 150px; height: 35px" />
        </form>
    </div><!-- end dialog -->
 <div  id="room_div">
        <table id="dtable" cellspacing="0" >
        <thead>
            <tr>
                <th>Room</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var roomlist in RoomList)
        {    
        <tr><td>@roomlist.RoomName</td>
        <td><a href="javascript:TableTools('@Url.Action("EditRoom", "Admin", new { RoomId = roomlist.RoomId})')">edit</a>                       
        &nbsp<a href="javascript:TableConfirm('@Url.Action("DeleteRoom", "Admin", new { RoomId = roomlist.RoomId})')">delete</a>&nbsp</td></tr>
        }
        </tbody>
</table>

 </div>
<div id="tableTool"></div>

</div><!-- end accord-->