body{
   font-family:Arial, sans-serif;
   margin:0;
   background-color : #EFF6FF;
   /*overflow-y: scroll;*/
}
body a
{
     color:#7D7F7F; 
}
#wrapper{
    width:100%;
}

/*******NAV**********/
#nav{
    background-color: #192E40;/*DBDADA*/
    width:210px;
    height:100%;
    color:white;/*#EFF2FB;*//*#BDBDBD;*/
    position:absolute;
    
    box-shadow: 2px 0 5px #888;
}
#nav h1{
    margin:0;
    padding: 15px 5px 10px 0;
    text-align: center;
    letter-spacing: 2px;
    
    text-shadow: #DBDADA 2px -1px 0px;
}
#nav h1 a{
    color: #F7F7F7;
    font: inherit;
    text-decoration:none;
}
#nav ul{
    list-style:none;
    padding:0;

}
#nav ul li{
}
#nav ul li a{
    height: auto;
    text-decoration: none;
    text-align: right;
    color:#BDBDBD;
    display:block;
    padding: 11px 15px 0 0;
    font-weight: 900;
    letter-spacing: 4px;
    
  
}
.elight{
   background-color: #324759;
   border:solid 1px white;
     
   box-shadow: 10px 10px 5px #888;
}

/*******CONTENT**********/

#loading{
   margin: 130px 0 0 400px;
}
#content{
   height:100%;
   width: 85%;
   position: relative;
   left: 220px;
   background-color: #EFF6FF;
}
#usrnav{
   height:30px;
   border-bottom: dashed 1px #E6E6E6;   
}
#usrnav span{
   margin: 5px 0 5px 0;
   padding: 0 40px 0 0;
   color:green;
   float:right;
}
#accholder{
  width: 800px;
   margin: 50px 0 0 100px;
}
#modal_diag{
   
}
#lab_form input
{
width:260px;
height:23px;  
}
/*******ADMIN**********/
/*#room_div
{
    margin-top:25px;
}*/
/*#room_div table
{
    margin-bottom:30px;
}
#room_div table thead th
{
    padding: 5px 120px 5px 10px;
    font-weight: normal;
    border-bottom: dashed 1px gray;
}
#room_div table tbody td
{   
   font-size: 13px;
   padding: 14px 0 10px 10px;
}
#room_div table tbody tr:hover
{
background-color:#E6E6E6;   
}
*/
#dispense_list
{
    border-top: dashed 1px gray;
    min-width: 550px;
}
#dispense_list tr td
{
    padding: 5px 120px 5px 10px;
    font-weight: normal;
    border-bottom: dashed 1px gray;
}
#dispense_list tr:hover
{
    background-color:#E6E6E6; 
}
#d_td
{
    text-align: center;
}
/*DATA TABLES*/
#dtable
{
    width: 100%;
}
#dtable tbody tr td
{
    padding: 5px 5px 5px 0;
    text-align: center;
}

.dtable
{
    width: 100%;
}
.dtable tbody tr td
{
    padding: 5px 5px 5px 0;
    text-align: center;
}
#dtables
{
    width: 100%;
}
#dtables tbody tr td
{
    padding: 5px 5px 5px 0;
    text-align: center;
}

/*
REPORT NAV
*/
#r_submenu
{
   font-size: 80%;
}



/*form*/
#editlab input
{
    width:260px;
    height:23px;
}

/*gritter*/
#notices
{
    visibility:hidden;
    height:0px;
}





/*******Material Quantity Warning**********/

#QuantityNotification
{
    /*border: solid 1px black;*/
}
#material_gty_warning
{
 
 
}
#material_gty_warning img
{

    margin: 0 auto;
}

.but a:link, .but a:visited {
    color: #FFFFFF;
}

.but 
{
    text-decoration: none;
}



/*DEBUGGER CSS*/
#content_wrapper
{
    border: dashed 1px #E6E6E6;
    overflow:auto;
    min-width: 900px;
    margin: 0 0 30px 0;
}

.ScheduleList
{
    list-style: none;
}